/* line 1, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center; }

/* line 15, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
.wrapper > * {
  padding: 10px;
  flex: 1 100%; }

/* line 20, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
.header {
  background: tomato; }

/* line 24, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
.footer {
  background: lightgreen; }

/* line 28, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
.main {
  text-align: left;
  background: deepskyblue; }

/* line 33, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
.aside-1 {
  background: gold; }

/* line 37, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
.aside-2 {
  background: hotpink; }

@media all and (min-width: 600px) {
  /* line 42, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
  .aside {
    flex: 1 auto; } }

@media all and (min-width: 800px) {
  /* line 46, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
  .main {
    flex: 3 0px; }
  /* line 47, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
  .aside-1 {
    order: 1; }
  /* line 48, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
  .main {
    order: 2; }
  /* line 49, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
  .footer {
    order: 4; } }

/* line 52, /Users/lanemeisenheimer/dev/metricsPanel/main.scss */
body {
  padding: 5px;
  margin: 0; }

/*# sourceMappingURL=main.css.map */