<h2 class="text-center">AngularJS Boilerplate</h2>

<h3>Features</h3>
<div class="container cf">
    <div>
        <ul>
            <li>* SASS support including sourceMaps</li>
            <li>* Minimal CSS styling of the view</li>
            <li>* Gulp watch, build and local server tasks</li>
            <li>* Responsive navigation</li>
            <li>* Owl slider directive</li>
            <li>* Responsive navigation</li>
            <li>* localStorage service for set, get, remove data</li>
            <li>* queryService $http wrapper to handle calls</li>
            <li>* clear folder structure</li>
            <li>* less than 10 request in build version</li>
            <li>* minified CSS and JS build files</li>
            <li>* google analytics snippet</li>
        </ul>
    </div>
</div>

<div class="text-center">
    <small>Images courtesy of <a target="_blank" href="http://unsplash.com">unsplash.com</a></small>
</div>